 <!-- bottom_nav_bar.ejs - Irits Anna Mathew - 3011145346 - 03-10-2021-->
 
 <!-- This partial is included in ejs template of all 5 pages -->

 <!-- Bottom Bar -->
  <footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
  
    <p class=" navbar-text font-size:1.8rem"> All Rights Reserved...</p>
  </nav>
  </footer>