 <!-- top_nav_bar.ejs - Irits Anna Mathew - 3011145346 - 03-10-2021-->
 
 <!-- This partial is included in ejs template of all 5 pages -->

 <!-- Top Navigation Bar-->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:darkcyan">
      <a class="navbar-brand" href="/"><img src ="logo.png" alt =""> </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
        <a class="nav-link" href="/home"><i class="fas fa-laptop-house"></i>    Home</a>
        <a class="nav-link" href="/about"><i class="fas fa-info"></i>    About Me</a>
        <a class="nav-link" href="/projects"> <i class="fab fa-elementor"></i>    Projects</a>
        <a class="nav-link" href="/services"><i class="fas fa-user-cog"></i>    Services</a>
        <a class="nav-link" href="/contact"><i class="fas fa-phone"></i>    Contact</a>
        <br>
        
    </div>
  </nav>
