<%include partials/header.ejs%>
<%include partials/top_nav_bar.ejs%>

<main>
  <div class ="container1">
  <br>
   <img src="photo.png" ></p>
    <br>
    <h2>Irits Anna Mathew </h1>    
    <p><h5>I’m from India. I hold a Bachelor’s Degree in Computer Science and Engineering. 
    After graduation, I worked for more than 3 years at Infosys - one of leading competitors in the IT sector of India. 
    I got the opportunity to learn and work with several technologies like business language SAP ABAP, SAP MDG, SAP Information Steward, Python and SQL.
     I worked on several projects for a leading Automobile Giant and a major Food Manufacturing client.</h5></p>
      <br>
      
      <h6> <p><a class="text-right" href="<%= link %>" class="btn btn-info" role="button"><b>RESUME</b></a></p></h6> 
      <br>
     <br>
      
      </div>
      
</main>

 <%include partials/bottom_nav_bar.ejs%>  