<%include partials/header.ejs%>
<%include partials/top_nav_bar.ejs%>

<main>
  <div class ="container">
  <br> <br> <br> <br>
   <img src="photo.png" style="border-color: saddlebrown;border-style: double;border-radius :20px;"></p>
    <br>
    <h2>Irits Anna Mathew </h1>    
    <p><h6>I’m from India. I hold a Bachelor’s Degree in Computer Science and Engineering. 
    After graduation, I worked for more than 3 years at Infosys - one of leading competitors in the IT sector of India. 
    I got the opportunity to learn and work with several technologies like business language SAP ABAP, SAP MDG, SAP Information Steward, Python and SQL.
     I worked on several projects for a leading Automobile Giant and a major Food Manufacturing client.</h6></p>
     <br>
            <h5><a  href="<%= link %>" class="btn btn-secondary" role="button"><b>RESUME</b></a></h5> 
      <br>
     <br>      
      </div>
      
</main>

 <%include partials/bottom_nav_bar.ejs%>  