 <%include partials/header.ejs%>
 <%include partials/top_nav_bar.ejs%>

  <!-- Main Content-->
  <main>
  <div class ="container-fluid">
  <br><br>
    <h1 class="display-5"> Welcome to the My Express Portfolio </h1>
    <br><br>
  </div>
  <br><br><br><br>
   <div class ="container" style="background-color:aquamarine">
    <p><br> 
    <h4 > <b>"Committment to process leads to progress".</b><br></h4>
    <p><h5> These wise words from the renowned book 'Atomic Habits' is the one that resonates deep within my heart, and it has been these words that has fueled my quest for excellence. 
    To me, excellence is not about being better than everyone else,rather, it is about giving the very best effort you could give. The road to success is herculean indeed, but each time we fall, the feeling of wanting to get back up and perservere is what drives us to success.
    </p>
    <br>
    <h5 ><b>"What doesn't kill you makes you stronger", so we need to gather ourselves and take that first step, because time doesnot wait for anyboby and so does life.</b></h5>
    
    <br>
    <br>
  </p> 
  </div>
  <br>
  <h4 style ="text-align:end"> <a  href="<%= next %>" role="button" class="btn btn-link">Next-> </a></h4>
  </main>
  
  <%include partials/bottom_nav_bar.ejs%>
  <%include partials/footer.ejs%>



