<%include partials/header.ejs%>
<%include partials/top_nav_bar.ejs%>

<!-- Main Content on Project Page-->

<main>
<div class= "card-group" style="margin-top: 8rem ;margin-left: 10rem;font-family: Georgia, 'Times New Roman', Times, serif; font: size 14px;width: 85rem;border:black; ">
  
  <div class="card text-dark bg-light mb-3" >
  <img src="health.jpg" class="card-img-top" alt="">
      <div class="card-body ">
        <h5 class ="card-title" style="text-align:center;font-weight: bold;">IOT Based Assissted Living</h5>
        <br>
        <p class="card-text" style="font-style:italic">The project makes use of IOT to implement a reminder system for senior citizens 
          to allow them to take medicines on time and helps the caretaker to monitor the same remotely.</p>
      </div>  
  </div>
   
  <div class="card text-dark bg-light mb-3 " >
  <img src="smartcity.jpg" class="card-img-top" alt="">
    <div class="card-body ">
      <h5 class ="card-title" style="text-align:center;font-weight: bold;">Management Of Objects in a Smart City</h5>
        <br>
        <p class="card-text" style="font-style:italic">The project makes use of multi level clustering to manage heterogeneous objects in a smart city.</p>
    
  </div>
  </div> 

  <div class="card text-dark bg-light mb-3 " >
    <img src="mallmanagement.jpg" class="card-img-top" alt="">
      <div class="card-body ">
        <h5 class ="card-title" style="text-align:center;font-weight: bold;">Mall Management System</h5>
        <br>
        <p class="card-text" style="font-style:italic">The project makes use of general C++ programming lanuguage to build a website for managing a mall.</p>
    </div>
    </div> 

  </div>
</main>
  
<%include partials/bottom_nav_bar.ejs%>
<%include partials/footer.ejs%>