<%include partials/header.ejs%>
<%include partials/top_nav_bar.ejs%>

<!-- Main Content on Contact Page-->
<main>

   <div class="card text-dark  mb-3" >
   <style>.card{margin-top: 10rem ;margin-left: 25rem;width: 60rem;border:black;font-family: Georgia, 'Times New Roman', Times, serif; font-size:16px;background-color:darkcyan;}</style>
    <div class="card-header"style="font-family: Georgia, 'Times New Roman', Times, serif; font: size 16px;"><b>Services Provided</b></div> 
    
    <div class="card-body" style="font-family: Georgia, 'Times New Roman', Times, serif;font: size 12px;text-align: center;background-color: powderblue;">
    
    <p>
    <ul class="list-group">
        <li class="list-group-item">  Python Programming</li>
        <li class="list-group-item">  Web Application Development</li>
        <li class="list-group-item">  Data Quality Reporting Using SAP Information Steward</li>
        <li class="list-group-item">  Data Quality Reporting Using SAP BODS</li>
        <li class="list-group-item">  SAP ABAP and SAP MDG Functional Consultation</li>
    </ul>  
    <br>        
    </p>
  </div>
  </div> 
  

</main>
  
<%include partials/bottom_nav_bar.ejs%>
<%include partials/footer.ejs%>