 <!-- error.ejs - Irits Anna Mathew - 301145346 - 03-10-2021-->
 
 <!-- This is  ejs template for non-existing pages -->
 
<%include partials/header.ejs%>
<div class="container">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>
<%include partials/bottom_nav_bar.ejs%>
<%include partials/footer.ejs%>
